<div class="modal" [class.active]="modalOpen">
  <div class="modal__bg" (click)="voltar()"></div>
  <div class="modal__inner" cdkDrag style="max-width: 800px;">
    <div class="modal__content">
      <div class="modal__header" cdkDragHandle>
        <h3 class="text-orange">Detalhes</h3>
        <a (click)="voltar()" class="modal__header-close btn-close">
          <span></span>
          <span></span>
        </a>
      </div>
      <div class="modal__body">
        <form novalidate>
          <div class="d-flex justify-content-end">
            <a href="https://{{objeto.link}}" *ngIf="objeto.link" target="_blank" class="btn btn-pink mx-0 d-block">Acessar documento</a>
          </div>
          <div class="m-1">
            <div class="form-row p-1 bg-light border pt-2 px-2">
              <!-- Id -->
              <div class="form-group col-lg-1 col-md-1 col-sm-2 col-2">
                <label for="id">Id: </label>
                <input type="text" readonly
                       mask="0*"
                       class="form-control"
                       name="id"
                       id="id"
                       #id="ngModel"
                       [(ngModel)]="objeto.id">
              </div>
              <!-- Orgão Emissor -->
              <div class="form-group col-lg-3 col-md-3 col-sm-5 col-5">
                <label for="orgao">Orgão Emissor: </label>
                <input type="text" class="form-control" name="orgao" id="orgao" #orgao="ngModel" readonly
                       [(ngModel)]="objeto.orgao">
              </div>
              <!-- Tipo -->
              <div class="form-group col-lg-3 col-md-3 col-sm-5 col-5">
                <label for="tipoDocumento">Tipo: </label>
                <input type="text" class="form-control" name="tipoDocumento" id="tipoDocumento" #tipoDocumento="ngModel" readonly
                       [(ngModel)]="objeto.tipoDocumento">
              </div>
              <!-- Número -->
              <div class="form-group col-lg-5 col-md-5 col-sm-12 col-12">
                <label for="numeroDocumento">Número: </label>
                <input type="text" class="form-control" name="numeroDocumento" id="numeroDocumento" #numeroDocumento="ngModel" readonly
                       [(ngModel)]="objeto.numeroDocumento">
              </div>
              <!-- Data Entrada -->
              <div class="form-group col-lg-3 col-md-6 col-sm-12 col-12">
                <label for="dataEntrada">Data Entrada: </label>
                <input type="text" class="form-control" name="dataEntrada" id="dataEntrada" readonly [value]="objeto.dataEntrada | date : 'dd/MM/yyyy \'às\' HH:mm' ">
              </div>
              <!-- Data Emissão -->
              <div class="form-group col-lg-3 col-md-6 col-sm-12 col-12">
                <label for="dataDocumento">Data Emissão: </label>
                <input type="text" class="form-control" name="dataDocumento" id="dataDocumento" readonly [value]="objeto.dataDocumento | date : 'dd/MM/yyyy' ">
              </div>

              <!-- Resumo -->
              <div class="form-group col-lg-6 col-md-12 col-sm-12 col-12">
                <label for="resumo">Resumo: </label>
                <input type="text" class="form-control" name="resumo" id="resumo" #resumo="ngModel" readonly
                       [(ngModel)]="objeto.resumo">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
